* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

:root {
   --mainBlue: #4d35e2;
   --middleBlue: #5137f0;
   --darkBlue: #3521b6;
}

html {
   scroll-behavior: smooth;
}

body {
   width: 100%;
   min-height: 100vh;
   font-family: sans-serif;
}

.mainDiv {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: silver;
   background-color: var(--mainBlue);
}

.mainDiv>div {
   width: 50%;
   min-height: 100vh;
}

/* First Section starts ==================================== */
.mainDiv .firstDiv {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.mainDiv .firstDiv .mainSection {
   width: 60%;
   height: auto;
   display: flex;
   flex-direction: column;
}

.mainDiv .firstDiv .mainSection>section {
   width: 100%;
   height: auto;
   margin: 10px 0px;
   display: flex;
}

.mainDiv .firstDiv .mainSection .logoSec>h1 {
   font-size: xx-large;
   color: var(--middleBlue);
   display: flex;
}

.mainDiv .firstDiv .mainSection .formHeading {
   flex-direction: column;
}

.mainDiv .firstDiv .mainSection .formHeading>h1 {
   font-size: xx-large;
   margin-bottom: 5px;
}

.mainDiv .firstDiv .mainSection .formHeading>p {
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   font-weight: lighter;
}


.mainDiv .firstDiv .mainSection .orSection {
   flex-direction: column;
   margin: 10px 0px;
}

.mainDiv .firstDiv .mainSection .orSection>a {
   width: 100%;
   height: 40px;
   border: 1px solid silver;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}

.mainDiv .firstDiv .mainSection .orSection>a:hover {
   background-color: #dfdddd34;
}

.mainDiv .firstDiv .mainSection .orSection>a .iconSpan {
   width: 30px;
   height: auto;
}

.mainDiv .firstDiv .mainSection .orSection>a .iconSpan>img {
   width: 100%;
   height: fit-content;
}

.mainDiv .firstDiv .mainSection .orSection>a .phrase {
   color: black;
   font-weight: bold;
   margin-left: 10px;
   font-family: sans-serif;
   font-size: small;
}

.mainDiv .firstDiv .mainSection .orSection .emailOr {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
   text-align: center;
}

.mainDiv .firstDiv .mainSection .orSection .emailOr>hr {
   width: 30%;
}

.mainDiv .firstDiv .mainSection .orSection .emailOr>a {
   font-size: small;
   text-decoration: none;
   color: silver;
   transition: 0.3s;
}

.mainDiv .firstDiv .mainSection .orSection .emailOr>a:hover {
   color: gray;
}

.mainDiv .firstDiv .mainSection .formItem {
   flex-direction: column;
}

.mainDiv .firstDiv .mainSection .formItem>label {
   font-size: small;
   font-weight: bold;
   margin-bottom: 5px;
}

.mainDiv .firstDiv .mainSection .formItem>label>sup {
   color: red;
}

.mainDiv .firstDiv .mainSection .formItem>input {
   border: 1px solid silver;
   height: 40px;
   border-radius: 50px;
   padding-left: 20px;
}

.mainDiv .firstDiv .mainSection .formItem>input:focus {
   outline: none;
   border: 1.5px solid lightblue;
}

.mainDiv .firstDiv .mainSection .formItem .terms {
   display: flex;
   margin-top: 10px;
}

.mainDiv .firstDiv .mainSection .formItem .terms>input {
   accent-color: var(--middleBlue);
}

.mainDiv .firstDiv .mainSection .formItem .terms>span {
   font-size: small;
   margin-left: 10px;
}

.mainDiv .firstDiv .mainSection .formItem .terms>span>a {
   text-decoration: none;
   color: var(--middleBlue);
}

.mainDiv .firstDiv .mainSection .submitSec {
   flex-direction: column;
}

.mainDiv .firstDiv .mainSection .submitSec>section {
   width: 100%;
   display: flex;
   position: relative;
   border-radius: 50px;
}

.mainDiv .firstDiv .mainSection .submitSec>section:hover .left {
   left: -20%;
   border-radius: 50px 50px 50px 50px;
}

.mainDiv .firstDiv .mainSection .submitSec>section:hover .right {
   right: -20%;
   border-radius: 50px 50px 50px 50px;
}

.mainDiv .firstDiv .mainSection .submitSec>section>span {
   position: absolute;
   width: 50%;
   height: 100%;
   background-color: var(--middleBlue);
   z-index: 1;
   transition: 0.5s;
}

.mainDiv .firstDiv .mainSection .submitSec>section .left {
   border-radius: 50px 0px 0px 50px;
   left: 0%;
}

.mainDiv .firstDiv .mainSection .submitSec>section .right {
   border-radius: 0px 50px 50px 0px;
   right: 0%;
}

.mainDiv .firstDiv .mainSection .submitSec>section>input {
   width: 100%;
   border: 2px solid var(--middleBlue);
   height: 40px;
   border-radius: 50px;
   background-color: transparent;
   color: white;
   cursor: pointer;
   font-weight: bold;
   z-index: 2;
}

.mainDiv .firstDiv .mainSection .submitSec>section>input:hover {
   color: var(--middleBlue);
}

.mainDiv .firstDiv .mainSection .submitSec>span {
   font-size: small;
   margin-top: 10px;
}

.mainDiv .firstDiv .mainSection .submitSec>span>a {
   text-decoration: none;
   color: var(--middleBlue);
   font-weight: bold;
}

.mainDiv .firstDiv .mainSection>span {
   color: silver;
   font-size: small;
}

/* First Section ends ==================================== */


/* Second Section starts ==================================== */
.mainDiv .secondDiv {
   background: url(../img/step-up.png) no-repeat top left, url(../img/step-down.png) no-repeat bottom right;
   background-color: var(--mainBlue);
   background-size: 20% 20%, 30% 30%;
   background-attachment: scroll;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mainDiv .secondDiv .mainSection {
   width: 80%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.mainDiv .secondDiv .mainSection .imgSec {
   width: 100%;
   height: auto;
   padding-top: 10px;
   padding-bottom: 5px;
   box-shadow: 0px 0px 10px white inset;
   border-radius: 40px;
   animation: float 2.5s linear infinite;
   animation-direction: alternate;
}

@keyframes float {
   from {
      transform: translate(0px, 0px);
   }

   to {
      transform: translate(0px, 8px);
   }
}

.mainDiv .secondDiv .mainSection .imgSec>img {
   width: 100%;
   height: fit-content;
}

.mainDiv .secondDiv .mainSection .writeUpSec {
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   color: white;
   margin-top: 10px;
}

.mainDiv .secondDiv .mainSection .writeUpSec>h1,
.mainDiv .secondDiv .mainSection .writeUpSec>p {
   text-align: center;
}

.mainDiv .secondDiv .mainSection .writeUpSec>h1 {
   font-size: xx-large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainDiv .secondDiv .mainSection .writeUpSec>p {
   margin-top: 15px;
   font-size: small;
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 1px;
}

/* Second Section ends ==================================== */